<%- include('header'); -%>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="color: white;">
        <h1 style="font-size: 48pt; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-style: italic;">BOOKS</h1>
        <img src="/images/gachngang.PNG" alt="gachngang" style="margin-bottom: 20px;">
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="color: white; background-image: url('/images/img_content1.jpg');">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <img src="/images/books.jpg" alt="books" style="max-width: 65%; margin-top: 20px; margin-bottom: 20px;">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div style="font-size: 20px;">
                <p style="text-align: left; margin-top: 20px;">" Tôi tin vào dải ngân hà trong cậu</p>
                <p style="text-align: left; margin-top: 20px;">
                    Tôi muốn nghe giai điệu từ chính cậu</p>
                <p style="text-align: left; margin-top: 20px;">
                    Bằng cách nào đó những vì sao nơi thiên hà</p>
                <p style="text-align: left; margin-top: 20px;">
                    Dệt cho cậu khoảng trời của riêng mình?</p>
                <p style="text-align: left; margin-top: 20px;">
                    Ở tận cùng của nỗi tuyệt vọng</p>
                <p style="text-align: left; margin-top: 20px;">
                    Đừng quên rằng tôi đã tìm thấy cậu</p>
                <p style="text-align: left; margin-top: 20px;">
                    Cậu là lý do cuối cùng</p>
                <p style="text-align: left; margin-top: 20px;">
                    Để tôi, người chênh vênh trên rìa vách đá</p>
                <p style="text-align: left; margin-top: 20px;">
                    Tồn tại..."</p>
                <ul style="margin-top: 20px;">
                    <li style="text-align: left;">Source from 'Magic Shop' - BTS</li>
                    <li style="text-align: left;">Translation by doctailieu.com</li>
                </ul>
            </div>
        </div>
    </div>

    <%- include('footer'); -%>