</div>
<!-- END -->

<!-- FOOTER -->
<div class="row" style="background-color: rgb(211, 138, 150);">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <img src="/images/img_footer.png" alt="love yourself" style="max-width: 80%; margin-bottom: 20px;">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="color: white; font-size: 18px;">
        <h2>Thông tin liên hệ</h2>
        <p>Họ và tên: Phan Hoàng Trang Ý</p>
        <p>MSSV: 18039281</p>
        <p>Lớp: DHKQ14ATT</p>
        <p>Email: <a href="#">trangyphan2708@gmail.com</a></p>
        <p>SĐT: 0706********</p>
    </div>
</div>
<!-- END -->
</div>
</body>

</html>