<%- include('header'); -%>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="color: white;">
        <h1 style="font-size: 48pt; font-family: Georgia, 'Times New Roman', Times, serif; font-style: italic;">LOVE YOURSELF</h1>
        <img src="/images/gachngang.PNG" alt="gachngang" style="margin-bottom: 20px;">
        <p style="font-size: 20px; margin-bottom: 20px;"><i>"Only one hope, only one soul, only one you"</i> - EGO</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <img src="/images/img_content.jpg" alt="love yourself" style="max-width: 80%; margin-bottom: 20px;">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div style="position: relative; left: -20px; top: 20px;">
            <h3 style="color: white;"><i>WELCOME TO MY WEBSITE!</i></h3>
            <p style="font-size: 18px; color: white; position: relative; left: -40px; top: 20px;"><i>"Thậm chí khi bạn không hoàn hảo, bạn vẫn là một phiên bản "có giới hạn" của riêng bản thân bạn."</i></p>
        </div>
    </div>
    <%- include('footer'); -%>