<%- include('header'); -%>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="color: white;">
        <h1 style="font-size: 48pt; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-style: italic;">LỊCH</h1>
        <img src="/images/gachngang.PNG" alt="gachngang" style="margin-bottom: 20px;">
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="color: white; background-image: url('/images/img_content1.jpg');">
        <iframe src="/calendar" frameborder="0" width="90%" height="450px" scrolling="no"></iframe>
    </div>

    <%- include('footer'); -%>