<%- include('header'); -%>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="color: white;">
        <h1 style="font-size: 48pt; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-style: italic;">QUOTES</h1>
        <img src="/images/gachngang.PNG" alt="gachngang" style="margin-bottom: 20px;">
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="color: white; background-image: url('/images/img_content1.jpg');">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <iframe width="437" height="296" src="https://www.youtube.com/embed/oTe4f-bBEKg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin-top: 20px;"></iframe>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div style="font-size: 20px;">
                <p style="text-align: left; margin-top: 20px;">"Có thể hôm qua tôi đã phạm sai lầm, nhưng tôi của hôm qua vẫn là tôi. Hôm nay, tôi vẫn là chính tôi với tất cả những lỗi lầm mà tôi đã từng mắc phải. Ngày mai, tôi có thể chín chắn hơn một chút, và đó cũng vẫn là tôi. Những lỗi lầm và
                    khiếm khuyết này chính là bản thân tôi, tạo nên những tinh tú rạng rỡ nhất trong chòm sao chiếu mệnh của cuộc đời tôi. Tôi yêu thương con người của chính tôi hôm nay, yêu thương cả tôi trong quá khứ và cả con người mà tôi hy vọng tôi
                    có thể trở thành trong tương lai."</p>
                <ul>
                    <li style="text-align: left;">Soure from BTS speech at Unicef</li>
                    <li style="text-align: left;">Translation by hoahoctro.tienphong.vn</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="color: white; height: 500px;">
        <img src="/images/img_footer.png" alt="anh1" style="max-width: 40%; float: left;">
        <img src="/images/background_body.jpg" alt="anh3" style="max-width: 60%; float: rigth;">
        <img src="/images/background_body1.jpg" alt="anh2" style="max-width: 40%; float: left; position: relative; top: -284px;">
    </div>

    <%- include('footer'); -%>